In [14]:
!pip install pandas numpy yfinance matplotlib

Requirement already satisfied: pandas in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (2.1.0)
Requirement already satisfied: yfinance in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (0.2.42)
Requirement already satisfied: matplotlib in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (3.9.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: requests>=2.31 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.2.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2024.7.4)

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from scipy.stats import norm

In [ ]:
data = yf.download('NVDA')

In [16]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,NaN
1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,0.104764
1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,-0.077594
1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,-0.003110
1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,-0.003144

In [17]:
data['Returns']= data['Close'].pct_change()

In [35]:
num_simulations = 10000
num_days = 22

last_price = data['Close'].iloc[-1]
simulation_df = np.zeros((num_days, num_simulations))

mu = data['Returns'].mean()
sigma = data['Returns'].std()

In [ ]:
for simulation in range(num_simulations):
    price_list = [last_price]
    for d in range(num_days):
        price = price_list[-1] * np.exp((mu - 0.5 * sigma**2) + sigma * np.random.normal())
        price_list.append(price)
    simulation_df[:, simulation] = price_list[1:]
final_prices = simulation_df[-1:]
median_final_price = np.median(final_prices)
most_likely_simulation_index = np.argmin(np.abs(final_prices - median_final_price))
most_likely_simulation = simulation_df[:, most_likely_simulation_index]

plt.figure(figsize=(10, 5))
plt.plot(simulation_df)
plt.title('MC')
plt.xlabel('Days')
plt.ylabel('Price')
plt.show()

In [50]:
pip install scipy

Requirement already satisfied: scipy in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (1.14.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from scipy) (2.1.0)

In [51]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\divine zac\appdata\local\programs\python\python312\lib\site-packages (from scipy) (2.1.0)

In [52]:
print(f"most likely simulation final price is  {most_likely_simulation[-1] }")

most likely simulation final price is  132.78224007686006

In [48]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,Returns
Date,,,,,,,
2024-08-19,124.279999,130.000000,123.419998,130.000000,130.000000,318333600,0.043506
2024-08-20,128.399994,129.880005,125.889999,127.250000,127.250000,300087400,-0.021154
2024-08-21,127.320000,129.350006,126.660004,128.500000,128.500000,257883600,0.009823
2024-08-22,130.020004,130.750000,123.099998,123.739998,123.739998,376189100,-0.037043
2024-08-23,125.870003,129.600006,125.220001,129.369995,129.369995,311541099,0.045499